.topheader {
  /*para que el menu acompañe*/
  position: fixed;
  background-color: rgb(54, 54, 124);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
}
/*el . solo se utiliza para las clases para body y lo demas no*/
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/*el camino para entrar al texto es primero la lista y luego el anchor*/
.Menu-Horizontal li a {
  text-decoration: none;
  color: white;
}
/*display es para mostrar la lista*/
.Menu-Vertical {
  position: absolute;
  list-style: none;
  display: none;
  width: 200px;
  background-color: rgb(60, 60, 241);
  padding: 0;
}
.Menu-Horizontal li a:hover {
  color: rgb(0, 157, 248);
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  display: block;
  text-decoration: none;
  padding: 5px;
}

.Logo {
  padding: 10px;
}

/* Seccion creditos*/
.Seccion-creditos {
  padding: 120px 30px;
  background-color: rgb(200, 208, 223);
}
.Cont-general-Creditos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 40;
}

.Cont-creditos-texto {
  flex: 1;
}
.Cont-creditos-texto h2 {
  color: blue;
  line-height: 1.6;
}
.Cont-creditos-imagen {
  color: blue;
  margin-bottom: 15px;
}
.Cont-creditos-texto p {
  color: black;
  line-height: 1.5;
}
.Cont-creditos-imagen img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}
/* Seccion Seguros*/
.seccion-seguros {
  padding: 50px 30px;
  background-color: rgb(200, 208, 223);
}
.cont-gral-seguros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.cont-seguros-texto {
  flex: 1;
}
.cont-seguros-texto button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(52, 145, 238);
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.cont-seguros-texto h2 {
  color: blue;
  line-height: 1.6;
}
.cont-seguros-texto p {
  color: black;
  line-height: 1.5;
}
.cont-seguros-video {
  flex: 1;
}
.cont-seguros-video iframe {
  width: 100%;
  max-width: 500px;
  padding-bottom: 60px;
}

.seccion-formulario {
  background-color: #bceef3;
  padding: 40px;
  border: 3px solid #007acc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px auto;
}
.cont-gral-formulario {
  background-color: beige;
  padding: 30px;
  border: 2px solid rgb (3, 3, 139);
  border-radius: 8px;
  margin-bottom: 100%;
  width: 100%;
  max-width: 500px;
}
.campo {
  background-color: #c4eced;
  padding: 15px;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-bottom: 15px;
}

.formulario label {
  display: block;
  font-weight: 800;
  margin-bottom: 8px;
  color: blue;
}
.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 8px;
  border: 1.5px solid #05055c;
  border-radius: 5px;
  box-sizing: border-box;
}
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 8px;
  border: 1px solid #0c8a0c;
  background-color: #63f0c1;
  border-radius: 5px;
}

.formulario button {
  background-color: chocolate;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  border: 2px solid #05056c;
  border-radius: 5px;
  cursor: pointer;
}
/*pie de pagina*/
.seccion-footer {
  background-color: rgb(101, 147, 153);
  color: blue;
  padding: 40px 20px;
}

.cont-gral-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.footer-info {
  flex: 0;
  min-width: 250px;
}
.footer-info h3 {
  color: blue;
  margin-bottom: 15px;
}
.footer-redes {
  flex: 1;
}
.footer-redes h3 {
  color: blue;
  margin-bottom: 15px;
}
.lista-redes {
  list-style: none;
  padding: 0;
}
.lista-redes li {
  margin-bottom: 8px;
}
.lista-redes li a {
  text-decoration: none;
  color: darkblue;
}
